<nav class="navbar navbar-expand-lg bg-body-transparent">
    <div class="container-fluid">
      <a class="navbar-brand text-primary fw-bolder"  >
        <i routerLink="" class="fa-sharp fa-solid fa-building-columns fa-beat-fade"></i>
        Union Bank
      </a>
    </div>
</nav>
<!-- content -->
<div class="row">
<img class="align-items-center" style="overflow: hidden;" height="500px" width="500px" src="https://media.giphy.com/avatars/404academy/kGwR3uDrUKPI.gif" alt="page not found img">
</div>


 